Repository tlent/leetcode-2025: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

.pre-commit-config.yaml:

repos:
  # Rust
  - repo: local
    hooks:
      - id: rust-format
        name: Cargo Format
        entry: bash -c 'cd rust && cargo fmt'
        language: system
        files: ^rust/.*\.rs$
        pass_filenames: false
      
      - id: rust-lint
        name: Cargo Clippy Lint
        entry: bash -c 'cd rust && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: ^rust/.*\.rs$
        pass_filenames: false
      
      - id: rust-test
        name: Cargo Test
        entry: bash -c 'cd rust && cargo test'
        language: system
        files: ^rust/.*\.rs$
        pass_filenames: false

  # TypeScript
  - repo: local
    hooks:
      - id: biome-check
        name: Biome Check
        entry: bash -c 'cd typescript && bunx biome check --write .'
        language: system
        files: ^typescript/.*\.(ts|js|json)$
        pass_filenames: false
        
      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd typescript && bunx tsc --noEmit'
        language: system
        files: ^typescript/.*\.ts$
        pass_filenames: false
        
      - id: typescript-test
        name: Bun Test
        entry: bash -c 'cd typescript && bun test'
        language: system
        files: ^typescript/.*\.ts$
        pass_filenames: false

  # Python
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: bash -c 'cd python && uv run ruff format src/'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false
        
      - id: ruff-lint
        name: Ruff Lint
        entry: bash -c 'cd python && uv run ruff check --fix src/'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false
        
      - id: mypy
        name: MyPy Check
        entry: bash -c 'cd python && uv run mypy src/'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false
        
      - id: python-test
        name: PyTest
        entry: bash -c 'cd python && uv run pytest'
        language: system
        files: ^python/.*\.py$
        pass_filenames: false

# Global settings
default_stages: [pre-commit]
fail_fast: false
minimum_pre_commit_version: '3.0.0'

Cleaned up CLAUDE.md by removing references to the deleted parallel_workflow.py and benchmark_tools.py scripts
  CLAUDE.md
Due: none

Add Grind 75 link
  README.md
Due: none

Reorganize python
  python/src/p0001_two_sum.py
  python/src/p0020_valid_parentheses.py
  python/src/p0021_merge_two_sorted_lists.py
  python/src/p0104_maximum_depth_of_binary_tree.py
  python/src/p0121_best_time_to_buy_and_sell_stock.py
  python/src/p0125_valid_palindrome.py
  python/src/p0141_linked_list_cycle.py
  python/src/p0206_reverse_linked_list.py
  python/src/p0217_contains_duplicate.py
  python/src/p0226_invert_binary_tree.py
  python/src/p0242_valid_anagram.py
  python/src/test_0001_two_sum.py
  python/src/test_0020_valid_parentheses.py
  python/src/test_0021_merge_two_sorted_lists.py
  python/src/test_0104_maximum_depth_of_binary_tree.py
  python/src/test_0121_best_time_to_buy_and_sell_stock.py
  python/src/test_0125_valid_palindrome.py
  python/src/test_0141_linked_list_cycle.py
  python/src/test_0206_reverse_linked_list.py
  python/src/test_0217_contains_duplicate.py
  python/src/test_0226_invert_binary_tree.py
  python/src/test_0242_valid_anagram.py
  python/src/utils/__init__.py
  python/src/utils/linked_list.py
  python/src/utils/tree.py
Due: ruff-format, ruff-lint, mypy, python-test

Fix duplicate headings and reorganize testing approach content
  README.md
Due: none

Update docs
  CLAUDE.md
  README.md
Due: none

Fix CI to only run with code changes
  .github/workflows/ci.yml
Due: none

Add required tools to readme
  README.md
Due: none

Update readme and add license
  LICENSE
  README.md
Due: none

Update ci workflow
  .github/workflows/ci.yml
Due: none

Rework CI again: language split with simple caching only
  .github/workflows/ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/rust-ci.yml
  .github/workflows/typescript-ci.yml
Due: none

n0704 Binary Search solution
  README.md
  python/src/n0704_binary_search.py
  python/src/n0704_binary_search_test.py
  rust/src/lib.rs
  rust/src/n0704_binary_search.rs
  rust/src/n0704_binary_search.test.rs
  typescript/src/n0704_binary_search.test.ts
  typescript/src/n0704_binary_search.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

Binary search fix rust overflow
  python/src/n0704_binary_search.py
  rust/src/n0704_binary_search.rs
  typescript/src/n0704_binary_search.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

Simplify CI
  .github/workflows/python-ci.yml
  .github/workflows/rust-ci.yml
  .github/workflows/typescript-ci.yml
Due: none

n0733 Flood Fill solution
  python/src/n0733_flood_fill.py
  python/src/n0733_flood_fill_test.py
  rust/src/lib.rs
  rust/src/n0733_flood_fill.rs
  rust/src/n0733_flood_fill.test.rs
  typescript/src/n0733_flood_fill.test.ts
  typescript/src/n0733_flood_fill.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

n0235 Lowest Common Ancestor of BST solution
  CLAUDE.md
  LEETCODE_STUDY_NOTES.md
  python/src/n0235_lowest_common_ancestor_of_a_binary_search_tree.py
  python/src/n0235_lowest_common_ancestor_of_a_binary_search_tree_test.py
  rust/src/lib.rs
  rust/src/n0235_lowest_common_ancestor_of_a_binary_search_tree.rs
  rust/src/n0235_lowest_common_ancestor_of_a_binary_search_tree.test.rs
  typescript/src/n0235_lowest_common_ancestor_of_a_binary_search_tree.test.ts
  typescript/src/n0235_lowest_common_ancestor_of_a_binary_search_tree.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

Remove vscode workspace file
  leetcode-2025.code-workspace
Due: none

Revert "Remove vscode workspace file"
  leetcode-2025.code-workspace
Due: none

n0110 Balanced Binary Tree solution
  python/src/n0110_balanced_binary_tree.py
  python/src/n0110_balanced_binary_tree_test.py
  rust/src/lib.rs
  rust/src/n0110_balanced_binary_tree.rs
  rust/src/n0110_balanced_binary_tree.test.rs
  typescript/src/n0110_balanced_binary_tree.test.ts
  typescript/src/n0110_balanced_binary_tree.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

n0232 Implement Queue Using Stacks solution
  python/src/n0232_implement_queue_using_stacks.py
  python/src/n0232_implement_queue_using_stacks_test.py
  rust/src/lib.rs
  rust/src/n0232_implement_queue_using_stacks.rs
  rust/src/n0232_implement_queue_using_stacks.test.rs
  typescript/src/n0232_implement_queue_using_stacks.test.ts
  typescript/src/n0232_implement_queue_using_stacks.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

Update docs
  CLAUDE.md
  LEETCODE_STUDY_NOTES.md
Due: none

n0278 First Bad Version solution
  python/src/n0278_first_bad_version.py
  python/src/n0278_first_bad_version_test.py
  rust/src/lib.rs
  rust/src/n0278_first_bad_version.rs
  rust/src/n0278_first_bad_version.test.rs
  typescript/src/n0278_first_bad_version.test.ts
  typescript/src/n0278_first_bad_version.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

n0383 Ransom Note solution
  python/src/n0383_ransom_note.py
  python/src/n0383_ransom_note_test.py
  rust/src/lib.rs
  rust/src/n0383_ransom_note.rs
  rust/src/n0383_ransom_note.test.rs
  typescript/src/n0383_ransom_note.test.ts
  typescript/src/n0383_ransom_note.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

n0070 Climbing Stairs solution
  python/src/n0070_climbing_stairs.py
  python/src/n0070_climbing_stairs_test.py
  rust/src/lib.rs
  rust/src/n0070_climbing_stairs.rs
  rust/src/n0070_climbing_stairs.test.rs
  typescript/src/n0070_climbing_stairs.test.ts
  typescript/src/n0070_climbing_stairs.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

n0409 Longest Palindrome solution
  python/src/n0409_longest_palindrome.py
  python/src/n0409_longest_palindrome_test.py
  rust/src/lib.rs
  rust/src/n0409_longest_palindrome.rs
  rust/src/n0409_longest_palindrome.test.rs
  typescript/src/n0409_longest_palindrome.test.ts
  typescript/src/n0409_longest_palindrome.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

n0169 Majority Element solution
  python/src/n0169_majority_element.py
  python/src/n0169_majority_element_test.py
  rust/src/lib.rs
  rust/src/n0169_majority_element.rs
  rust/src/n0169_majority_element.test.rs
  typescript/src/n0169_majority_element.test.ts
  typescript/src/n0169_majority_element.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

n0067 Add Binary solution
  python/src/n0067_add_binary.py
  python/src/n0067_add_binary_test.py
  rust/src/lib.rs
  rust/src/n0067_add_binary.rs
  rust/src/n0067_add_binary.test.rs
  typescript/src/n0067_add_binary.test.ts
  typescript/src/n0067_add_binary.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

n0543 Diameter of Binary Tree solution
  python/src/n0543_diameter_of_binary_tree.py
  python/src/n0543_diameter_of_binary_tree_test.py
  rust/src/lib.rs
  rust/src/n0543_diameter_of_binary_tree.rs
  rust/src/n0543_diameter_of_binary_tree.test.rs
  typescript/src/n0543_diameter_of_binary_tree.test.ts
  typescript/src/n0543_diameter_of_binary_tree.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

Progress
  python/src/n0876_middle_of_the_linked_list.py
  python/src/n0876_middle_of_the_linked_list_test.py
  rust/src/lib.rs
  rust/src/n0876_middle_of_the_linked_list.rs
  rust/src/n0876_middle_of_the_linked_list.test.rs
  typescript/src/n0876_middle_of_the_linked_list.test.ts
  typescript/src/n0876_middle_of_the_linked_list.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

n0876 Middle of the Linked List solution
  python/src/n0876_middle_of_the_linked_list.py
  python/src/n0876_middle_of_the_linked_list_test.py
  rust/src/n0876_middle_of_the_linked_list.rs
  typescript/src/n0876_middle_of_the_linked_list.test.ts
  typescript/src/n0876_middle_of_the_linked_list.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

n0053 Maximum Subarray
  python/src/n0053_maximum_subarray.py
  rust/src/lib.rs
  rust/src/n0053_maximum_subarray.rs
  typescript/src/n0053_maximum_subarray.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

n0057 Insert Interval
  python/src/n0057_insert_interval.py
  rust/src/lib.rs
  rust/src/n0057_insert_interval.rs
  typescript/src/n0057_insert_interval.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

Binary search for rust
  rust/src/n0057_insert_interval.rs
Due: rust-format, rust-lint, rust-test

n0542 01 Matrix
  python/src/n0542_01_matrix.py
  rust/src/lib.rs
  rust/src/n0542_01_matrix.rs
  typescript/bun.lock
  typescript/package.json
  typescript/src/n0542_01_matrix.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

n0973 K Closest Points to Origin
  python/src/n0973_k_closest_points_to_origin.py
  rust/src/lib.rs
  rust/src/n0973_k_closest_points_to_origin.rs
  typescript/src/n0973_k_closest_points_to_origin.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

Clean up typing
  typescript/src/n0973_k_closest_points_to_origin.ts
Due: biome-check, typescript-check, typescript-test

n003 Longest Substring Without Repeating Characters
  python/src/n003_longest_substring_without_repeating_characters.py
  rust/src/lib.rs
  rust/src/n003_longest_substring_without_repeating_characters.rs
  typescript/src/n003_longest_substring_without_repeating_characters.ts
Due: rust-format, rust-lint, rust-test, biome-check, typescript-check, typescript-test, ruff-format, ruff-lint, mypy, python-test

Remove unnecessary files
  CLAUDE.md
  LEETCODE_STUDY_NOTES.md
  leetcode-2025.code-workspace
Due: none
